@model Model_9H.RESTfulModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>测试页面</title>
    <link href="../../plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../../plugins/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/fix.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrp">
        
        <div class="page-hd">
            <div class="hd-box">
                <div class="hd-inner">

                </div>
            </div>
        </div>

        <div class="page-bd">
            <div class="bd-box">
                <div class="bd-inner">
                    <!-- 左边 -->
                    <div class="bd-left">
                        <div class="menu-box">
                            <dl class="menu-inner">
                                <dt class="menu-item menu-title">
                                    <a href="javascript:;">
                                        <i style="background:url(https://res.wx.qq.com/mpres/htmledition/images/icon/menu/icon_menu_function.png) no-repeat;"></i>
                                        <span>功能</span>
                                    </a>
                                </dt>
                                <dd class="menu-item">
                                    <a href="#">
                                        <i></i>
                                        <span>卡券功能</span>
                                    </a>
                                    <a href="#">
                                        <i></i>
                                        <span>门店管理</span>
                                    </a>
                                </dd>
                            </dl>
                            <dl class="menu-inner">
                                <dt class="menu-item menu-title">
                                    <a href="javascript:;">
                                        <i style="background:url(https://res.wx.qq.com/mpres/htmledition/images/icon/menu/icon_menu_management.png) no-repeat;"></i>
                                        <span>管理</span>
                                    </a>
                                </dt>
                                <dd class="menu-item">
                                    <a href="/app/material/newslist">
                                        <i></i>
                                        <span>素材管理</span>
                                    </a>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <!-- 右边 -->
                    <div class="bd-right">
                        <div class="main-hd">
                            <h2>素材管理</h2>
                            <div class="tab-box">
                                <ul class="tab-inner">
                                    <li class="tab-item active">
                                        <a href="/app/material/newslist">图文消息</a>
                                    </li>
                                    <li class="tab-item">
                                        <a href="/app/material/imagelist">图片</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-bd">
                            <div class="search-box">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputEmail3">Email address</label>
                                        <input type="text" name="key" id="key" class="form-control" placeholder="标题/作者/摘要">
                                    </div>
                                    <button type="submit" class="btn btn-default">查询</button>
                                </form>
                            </div>
                            <div class="sub-title-box">
                                <div class="sub-title-inner">
                                    <div class="sub-title-left">
                                        <h3>
                                            <span>图文消息(共2条)</span>
                                        </h3>
                                    </div>
                                    <div class="sub-title-right">
                                        <button type="button" class="btn btn-block btn-success">新建图文素材</button>
                                    </div>
                                </div>
                            </div>
                            <div class="msgs-box">
                                <div class="msgs-inner">
                                    <div class="msg-item">
                                        <div class="msg-hd">
                                            更新于 09:53
                                        </div>
                                        <div class="msg-bd">
                                            <div class="msg-title">
                                                测试二
                                            </div>
                                            <div class="msg-thumb-wrp">
                                                <img src="https://mmbiz.qlogo.cn/mmbiz_png/jTItpJe45JLNBQjKKiapJicznbYVMicDXGzs4EaNVgiao57JSlLgYxrh1OplMF8tr8DJ7RmlAeJmv1h22EePgSl1OQ/0?wx_fmt=png" alt="" />
                                            </div>
                                            <div class="msg-desc">
                                                1111
                                            </div>
                                        </div>
                                        <div class="msg-ft">
                                            <ul class="msg-ft-inner">
                                                <li class="msg-opr-item">
                                                    <a href="#">
                                                        <i style="background:url(../../img/base_z3560fc.png) 0 -4557px no-repeat;"></i>
                                                    </a>
                                                </li>
                                                <li class="msg-opr-item">
                                                    <a href="#">
                                                        <i style="background:url(../../img/base_z3560fc.png) 0 -4007px no-repeat;"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="msg-item">
                                        <div class="msg-hd">
                                            更新于 09:53
                                        </div>
                                        <div class="msg-bd">
                                            <div class="msg-title">
                                                测试二
                                            </div>
                                            <div class="msg-thumb-wrp">
                                                <img src="https://mmbiz.qlogo.cn/mmbiz_png/jTItpJe45JLNBQjKKiapJicznbYVMicDXGzs4EaNVgiao57JSlLgYxrh1OplMF8tr8DJ7RmlAeJmv1h22EePgSl1OQ/0?wx_fmt=png" alt="" />
                                            </div>
                                            <div class="msg-desc">
                                                1111
                                            </div>
                                        </div>
                                        <div class="msg-ft">
                                            <ul class="msg-ft-inner">
                                                <li class="msg-opr-item">
                                                    <a href="#">
                                                        <i style="background:url(../../img/base_z3560fc.png) 0 -4557px no-repeat;"></i>
                                                    </a>
                                                </li>
                                                <li class="msg-opr-item">
                                                    <a href="#">
                                                        <i style="background:url(../../img/base_z3560fc.png) 0 -4007px no-repeat;"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="msg-item">
                                        <div class="msg-hd">
                                            更新于 09:53
                                        </div>
                                        <div class="msg-bd">
                                            <div class="msg-title">
                                                测试二
                                            </div>
                                            <div class="msg-thumb-wrp">
                                                <img src="https://mmbiz.qlogo.cn/mmbiz_png/jTItpJe45JLNBQjKKiapJicznbYVMicDXGzs4EaNVgiao57JSlLgYxrh1OplMF8tr8DJ7RmlAeJmv1h22EePgSl1OQ/0?wx_fmt=png" alt="" />
                                            </div>
                                            <div class="msg-desc">
                                                1111
                                            </div>
                                        </div>
                                        <div class="msg-ft">
                                            <ul class="msg-ft-inner">
                                                <li class="msg-opr-item">
                                                    <a href="#">
                                                        <i style="background:url(../../img/base_z3560fc.png) 0 -4557px no-repeat;"></i>
                                                    </a>
                                                </li>
                                                <li class="msg-opr-item">
                                                    <a href="#">
                                                        <i style="background:url(../../img/base_z3560fc.png) 0 -4007px no-repeat;"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="msg-item">
                                        <div class="msg-hd">
                                            更新于 09:53
                                        </div>
                                        <div class="msg-bd">
                                            <div class="msg-title">
                                                测试二
                                            </div>
                                            <div class="msg-thumb-wrp">
                                                <img src="https://mmbiz.qlogo.cn/mmbiz_png/jTItpJe45JLNBQjKKiapJicznbYVMicDXGzs4EaNVgiao57JSlLgYxrh1OplMF8tr8DJ7RmlAeJmv1h22EePgSl1OQ/0?wx_fmt=png" alt="" />
                                            </div>
                                            <div class="msg-desc">
                                                1111
                                            </div>
                                        </div>
                                        <div class="msg-ft">
                                            <ul class="msg-ft-inner">
                                                <li class="msg-opr-item">
                                                    <a href="#">
                                                        <i style="background:url(../../img/base_z3560fc.png) 0 -4557px no-repeat;"></i>
                                                    </a>
                                                </li>
                                                <li class="msg-opr-item">
                                                    <a href="#">
                                                        <i style="background:url(../../img/base_z3560fc.png) 0 -4007px no-repeat;"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="page-box">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 定位提示 -->
            </div>
        </div>

        <div class="page-ft"></div>
    </div>

    <script src="../../plugins/jquery-2.2.4/jquery.js"></script>
    <script src="../../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
</body>
</html>
