@model Model_9H.RESTfulModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>授权结果</title>

    <link href="../../plugins/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @if (Model.Code == 0)
    {
        <script>
            location.href = '/home';
        </script>
    }
    else
    {
        <div class="modal" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">提示信息</h4>
                    </div>
                    <div class="modal-body">
                        @Model.Msg
                    </div>
                </div>
            </div>
        </div>
    }

    <script src="../../plugins/jquery-2.2.4/jquery.js"></script>
    <script src="../../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
    @if (Model.Code != 0)
    {
        <script>
            $(function () {
                $('#infoModal').modal({
                    backdrop: false,
                    keyboard: false
                });
            })
        </script>
    }
</body>
</html>
