@model Model_9H.AuthorizationInfoModel
@{
    ViewBag.Title = "我的公众号";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-md-4" style="width: 240px;">
        <div class="thumbnail">
            <img src="http://wx.qlogo.cn/mmopen/Da1FO2YxhbTSpvwtiah0R7byqS9bhb1Iu43M6UaklKDrK8DaTqV2uicOzWgey7bxugBez4N6aLjtzqlicma7f59A429zTwgtvCM/0" alt="" style="width: 140px; border-radius: 50%;">
            <div class="caption">
                <p style="text-align: center"><a href="#" class="btn btn-default" role="button">去授权</a></p>
            </div>
        </div>
    </div>
</div>