@model List<Model_9H.AuthorizerInfoModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (Model != null && Model.Any())
    {
        <div class="row margin-bottom-15 padding-vertical-15 border-gray">

            @foreach (var item in Model)
            {

                <div class="col-xs-3 col-sm-3 width-200">
                    <div class="thumbnail bg-white-smoke padding-top-15 border-0">
                        <img src="http://wx.qlogo.cn/mmopen/Da1FO2YxhbTSpvwtiah0R7byqS9bhb1Iu43M6UaklKDrK8DaTqV2uicOzWgey7bxugBez4N6aLjtzqlicma7f59A429zTwgtvCM/0" alt="" class="width-80 height-80 img-circle" />
                        <div class="caption">
                            <div class="text-center border-bottom-gray">九合天下测试号02</div>
                            <div class="text-center margin-top-15"><a href="javascript:;" class="btn btn-info width-full" role="button">进入公众号平台</a></div>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
    else
    {
        <div class="row margin-bottom-15 padding-vertical-15 border-gray">
            <div class="col-xs-3 col-sm-3 width-200">
                <div class="thumbnail bg-white-smoke padding-top-15 border-0">
                    <img src="../../img/avatar.png" alt="" class="width-80 height-80 img-circle" />
                    <div class="caption">
                        <div class="text-center border-bottom-gray">九合天下测试号02</div>
                        <div class="text-center margin-top-15"><a href="/home/goauth" class="btn btn-info width-full" role="button" target="_blank">去授权</a></div>
                    </div>
                </div>
            </div>
        </div>
    }
}