
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>微信公众平台</title>
    <link href="../../plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../../plugins/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/fix.css" rel="stylesheet" />
    <link href="../../css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">

        <div class="head">
            <div class="head-box">
                <div class="inner">
                    <div class="logo">

                    </div>
                    <div class="account">

                    </div>
                </div>
            </div>
            <div class="banner" style="background: url('../../img/bg_login_banner.jpg') no-repeat center center #090b1a">
                <div class="inner">

                </div>
            </div>
        </div>

        <div class="body">
            <div class="account-kind-box">
                <h3>帐号分类</h3>
                <div class="account-kind-list">
                    <div class="account-kind-item">
                        <div class="account-kind-hd">
                            <img src="../../img/account-kind-service.png" />
                        </div>
                        <div class="account-kind-bd">
                            服务号
                        </div>
                        <div class="account-kind-ft">
                            给企业和组织提供更强大的业务服务与用户管理能力，帮助企业快速实现全新的公众号服务平台。
                        </div>
                    </div>
                    <div class="account-kind-item">
                        <div class="account-kind-hd">
                            <img src="../../img/account-kind-subscribe.png" />
                        </div>
                        <div class="account-kind-bd">
                            订阅号
                        </div>
                        <div class="account-kind-ft">
                            为媒体和个人提供一种新的信息传播方式，构建与读者之间更好的沟通与管理模式。
                        </div>
                    </div>
                    <div class="account-kind-item">
                        <div class="account-kind-hd">
                            <img src="../../img/account-kind-app.png" />
                        </div>
                        <div class="account-kind-bd">
                            小程序
                        </div>
                        <div class="account-kind-ft">
                            一种新的开放能力，可以在微信内被便捷地获取和传播，同时具有出色的使用体验。
                        </div>
                    </div>
                    <div class="account-kind-item">
                        <div class="account-kind-hd">
                            <img src="../../img/account-kind-enterprise.png" />
                        </div>
                        <div class="account-kind-bd">
                            企业号
                        </div>
                        <div class="account-kind-ft">
                            为企业或组织提供移动应用入口，帮助企业建立与员工、上下游供应链及企业应用间的连接。
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="foot"></div>
    </div>

    <script src="../../plugins/jquery-2.2.4/jquery.js"></script>
    <script src="../../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
</body>
</html>
