@model Model_9H.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="renderer" content="webkit" />
    <title>微信公众平台</title>
    <link href="../../css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-azure head">
        <div class="width-1200 bg-azure margin-horizontal-center">
            <div class="pull-left width-200 height-50 logo">

            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="margin-top-100 body">
        <div class="width-1200 margin-horizontal-center">
            <div class="pull-left width-600 height-500" style="background: url('../../img/login_banner_bg.png') no-repeat"></div>

            <div class="pull-left width-400 height-500 margin-left-200 padding-15 border-gray">

                @using (Ajax.BeginForm("index", null, new AjaxOptions() { HttpMethod = "Post", OnBegin = "beginCall", OnSuccess = "successCall" }, new { }))
                {
                    <div class="width-full height-100"></div>
                    <div class="b margin-bottom-15">登陆</div>
                    <div class="margin-bottom-15">
                        <div class="pos-relative padding-left-55 border-gray">
                            <i class="pos-absolute width-24 height-24 top-8 left-15" style="background: url('../../img/login_user.png') no-repeat"></i>
                            <input type="text" name="mobile" value="" class="width-full height-40 border-0 outline-0" />
                        </div>
                    </div>
                    <div class="margin-bottom-15">
                        <div class="pos-relative padding-left-55 border-gray">
                            <i class="pos-absolute width-24 height-24 top-8 left-15" style="background: url('../../img/login_pwd.png') no-repeat"></i>
                            <input type="password" name="password" value="" class="width-full height-40 border-0 outline-0" />
                        </div>
                    </div>
                    <div class="margin-bottom-15">
                        <input type="checkbox" name="remember" value="1" class="width-18 height-18 vertical-bottom" id="remember" />
                        <label for="remember" class="display-inline-block height-18 pointer margin-left-5">记住账号</label>
                    </div>
                    <div class="margin-bottom-15">
                        <input type="submit" value="登陆" class="width-full height-50 line-height-50 bg-azure color-white font-size-18 text-center border-0">
                    </div>
                    <div class="margin-bottom-15">
                        <span><a href="#">忘记密码？</a></span>
                        <span class="pull-right"><a href="#">没有账号，立即注册？</a></span>
                        <span style="clear: both;"></span>
                    </div>
                }

            </div>

            <div style="clear: both;"></div>
        </div>
    </div>

    <script src="../../plugins/jquery/jquery.js"></script>
    <script src="../../plugins/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="../../plugins/jquery.validate/jquery.validate.js"></script>
    <script src="../../plugins/jquery.validate.unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="../../js/login.js"></script>
</body>
</html>
