@model Model_9H.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>微信公众平台</title>
    <link href="../../css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">

        <div class="head">
            <div class="inner">

            </div>
        </div>

        <div class="body">
            <div class="inner">
                <div class="login-bg" style="background: url('../../img/login_bg.png') no-repeat"></div>

                @using (Ajax.BeginForm("index", null, new AjaxOptions() { OnBegin = "beginCall", OnSuccess = "successCall", HttpMethod = "Post" }, new { }))
                {
                    <dl class="login-box">
                        <dt>登陆</dt>
                        <dd>
                            <div class="err-group">
                                @Html.ValidationMessageFor(o => o.Mobile, null, new { @class = "err-tips" })
                                @Html.ValidationMessageFor(o => o.Password, null, new { @class = "err-tips" })
                            </div>
                            <div class="input-group">
                                <i style="background: url('../../img/login_user.png') no-repeat"></i>
                                @Html.TextBoxFor(o => o.Mobile, new { @class = "form-control", placeholder = "手机号" })
                            </div>
                        </dd>
                        <dd>
                            <div class="input-group">
                                <i style="background: url('../../img/login_pwd.png') no-repeat"></i>
                                @Html.PasswordFor(o => o.Password, new { @class = "form-control", placeholder = "密码" })
                            </div>
                        </dd>
                        <dd>
                            <label><input type="checkbox" value="" class="remember" />记住账号</label>
                        </dd>
                        <dd>
                            <input type="submit" value="登陆" class="btn-login" />
                        </dd>
                        <dd><a href="#" class="forget">忘记密码？</a></dd>
                    </dl>
                }
            </div>
        </div>

        <div class="foot"></div>
    </div>

    <script src="../../plugins/jquery-2.2.4/jquery.js"></script>
    <script src="../../plugins/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="../../plugins/jquery.validate/jquery.validate.js"></script>
    <script src="../../plugins/jquery.validate.unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>
