body {
    background: #e7e8eb;
    font-size: 14px;
    color: #222222;
}

/********* head ***********/
.head {
    background-color: #ffffff;
    border-top: 4px solid #44b549;
    border-bottom: 1px solid #d9dadc;
}

.hd-inner {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}

/********* body ***********/
.body {
    width: 1200px;
    margin: 0 auto;
    padding: 36px 0 88px 0;
}

.bd-inner {
    min-height: 700px;
    background-color: #ffffff;
    border: 1px solid #d9dadc;
}

.bd-inner:after {
    display: block;
    content: '';
    clear: both;
}

/********* col-left ***********/
.col-left {
    float: left;
    width: 209px;
    border-right: 1px solid #e7e7eb;
}

/********* menu ***********/
.menu-box {
    margin-bottom: 150px;
}

.menu-list {
    padding: 6px 0;
    border-top: 1px solid #e7e7eb;
}

.menu-list:first-child {
    border-top-width: 0;
}

.menu-item {
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.menu-item a {
    display: block;
    padding: 0 0 0 30px;
    text-decoration: none;
    color: #222222;
}

.menu-item i {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.menu-title a {
    cursor: text;
    color: #8d8d8d;
}

/********* col-main ***********/
.col-main {
    float: left;
    width: 989px;
}

/********* main-hd ***********/
.main-hd h2 {
    line-height: 75px;
    padding: 0 30px;
    font-size: 16px;
}

/********* tab ***********/
.tab-list {
    line-height: 40px;
    border-bottom: 1px solid #e7e7eb;
}

.tab-list:after{
    display: block;
    content: '';
    clear: both;
}

.tab-item {
    float: left;
    line-height: 40px;
}

.tab-item.active {
    border-bottom: 3px solid #44b549;
}

.tab-item a {
    display: inline-block;
    padding: 0 18px;
    text-decoration: none;
    color: #222222;
}

.tab-item:first-child a {
    padding-left: 30px;
}

/********* main-bd ***********/
.main-bd {
    padding: 20px 30px 40px 30px;
}

/********* search-bar ***********/
.search-bar {
    margin-bottom: 20px;
}

.search-bar:after {
    display: block;
    content: '';
    clear: both;
}

/********* pagination-box ***********/
.pagination-box {

}

.pagination-box:after {
    display: block;
    content: '';
    clear: both;
}

/********* page-ft ***********/
.foot {

}

/********* form ***********/
.frm-ft {
    text-align: center;
}

.frm-ft a, .frm-ft button {
    padding-left: 22px;
    padding-right: 22px;
}