body {
    font-size: 14px;
    color: #222222;
}

/********* head ***********/
.head {
    
}

/********* navbar ***********/
.navbar-box {
    background-color: #ffffff;
    border-top: 4px solid #44b549;
    border-bottom: 1px solid #d9dadc;
}

.navbar-box .inner {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}

.navbar-box .inner:after {
    display: block;
    content: '';
    clear: both;
}

/********* banner ***********/
.banner-box {
    
}

.banner-box .inner {
    width: 1200px;
    height: 460px;
    margin: 0 auto;
}

.banner-box .inner:after {
    display: block;
    content: '';
    clear: both;
}

/********* body ***********/
.body {
    width: 1200px;
    margin: 0 auto;
    padding: 36px 0 88px 0;
}

/********* account-kind ***********/
.account-kind-box {

}

.account-kind-box h3 {
    padding-top: 45px;
    padding-bottom: 20px;
}

.account-kind-list {

}

.account-kind-list:after {
    display: block;
    content: '';
    clear: both;
}

.account-kind-item {
    float: left;
    width: 297px;
    height: 304px;
    margin-left: 4px;
    padding: 40px;
    border: 1px solid #e7e7eb;
}

.account-kind-item:first-child {
    margin-left: 0;
}

.account-kind-hd span {
    width: 86px;
    height: 86px;
    display: block;
    margin: 0 auto 20px auto;
}

.account-kind-bd, .account-kind-ft {
    text-align: center;
    margin-bottom: 20px;
}

.account-kind-bd {
    font-size: 16px;
}

/********* page-ft ***********/
.foot {

}