@model PagedList<Model_9H.Material>


<div class="msg-item">
    <div class="msg-hd">
        更新于 09:53
    </div>
    <div class="msg-bd">
        <div class="msg-title">
            测试二
        </div>
        <div class="msg-thumb-wrp">
            <img src="https://mmbiz.qlogo.cn/mmbiz_png/jTItpJe45JLNBQjKKiapJicznbYVMicDXGzs4EaNVgiao57JSlLgYxrh1OplMF8tr8DJ7RmlAeJmv1h22EePgSl1OQ/0?wx_fmt=png" alt="" />
        </div>
        <div class="msg-desc">
            1111
        </div>
    </div>
    <div class="msg-ft">
        <ul class="msg-ft-inner">
            <li class="msg-opr-item">
                <a href="#">
                    <i style="background:url(../../img/base_z3560fc.png) 0 -4557px no-repeat;"></i>
                </a>
            </li>
            <li class="msg-opr-item">
                <a href="#">
                    <i style="background:url(../../img/base_z3560fc.png) 0 -4007px no-repeat;"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="msg-item">
    <div class="msg-hd">
        更新于 09:53
    </div>
    <div class="msg-bd">
        <div class="msg-title">
            测试二
        </div>
        <div class="msg-thumb-wrp">
            <img src="https://mmbiz.qlogo.cn/mmbiz_png/jTItpJe45JLNBQjKKiapJicznbYVMicDXGzs4EaNVgiao57JSlLgYxrh1OplMF8tr8DJ7RmlAeJmv1h22EePgSl1OQ/0?wx_fmt=png" alt="" />
        </div>
        <div class="msg-desc">
            1111
        </div>
    </div>
    <div class="msg-ft">
        <ul class="msg-ft-inner">
            <li class="msg-opr-item">
                <a href="#">
                    <i style="background:url(../../img/base_z3560fc.png) 0 -4557px no-repeat;"></i>
                </a>
            </li>
            <li class="msg-opr-item">
                <a href="#">
                    <i style="background:url(../../img/base_z3560fc.png) 0 -4007px no-repeat;"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="msg-item">
    <div class="msg-hd">
        更新于 09:53
    </div>
    <div class="msg-bd">
        <div class="msg-title">
            测试二
        </div>
        <div class="msg-thumb-wrp">
            <img src="https://mmbiz.qlogo.cn/mmbiz_png/jTItpJe45JLNBQjKKiapJicznbYVMicDXGzs4EaNVgiao57JSlLgYxrh1OplMF8tr8DJ7RmlAeJmv1h22EePgSl1OQ/0?wx_fmt=png" alt="" />
        </div>
        <div class="msg-desc">
            1111
        </div>
    </div>
    <div class="msg-ft">
        <ul class="msg-ft-inner">
            <li class="msg-opr-item">
                <a href="#">
                    <i style="background:url(../../img/base_z3560fc.png) 0 -4557px no-repeat;"></i>
                </a>
            </li>
            <li class="msg-opr-item">
                <a href="#">
                    <i style="background:url(../../img/base_z3560fc.png) 0 -4007px no-repeat;"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="msg-item">
    <div class="msg-hd">
        更新于 09:53
    </div>
    <div class="msg-bd">
        <div class="msg-title">
            测试二
        </div>
        <div class="msg-thumb-wrp">
            <img src="https://mmbiz.qlogo.cn/mmbiz_png/jTItpJe45JLNBQjKKiapJicznbYVMicDXGzs4EaNVgiao57JSlLgYxrh1OplMF8tr8DJ7RmlAeJmv1h22EePgSl1OQ/0?wx_fmt=png" alt="" />
        </div>
        <div class="msg-desc">
            1111
        </div>
    </div>
    <div class="msg-ft">
        <ul class="msg-ft-inner">
            <li class="msg-opr-item">
                <a href="#">
                    <i style="background:url(../../img/base_z3560fc.png) 0 -4557px no-repeat;"></i>
                </a>
            </li>
            <li class="msg-opr-item">
                <a href="#">
                    <i style="background:url(../../img/base_z3560fc.png) 0 -4007px no-repeat;"></i>
                </a>
            </li>
        </ul>
    </div>
</div>