@model PagedList<Model_9H.MaterialInfoModel>
@{
    Layout = "~/Areas/App/Views/Shared/_Layout.cshtml";
}

<div class="main-hd">
    <h2>素材管理</h2>
    <div class="tab-box">
        <ul class="tab-inner">
            <li class="tab-item active">
                <a href="/app/material/newslist">图文消息</a>
            </li>
            <li class="tab-item">
                <a href="/app/material/imagelist">图片</a>
            </li>
        </ul>
    </div>
</div>
<div class="main-bd">
    <div class="search-box">
        <div class="input-group search-inner">
            <input type="text" class="form-control">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
    </div>
    <div class="sub-title-box">
        <div class="sub-title-inner">
            <div class="sub-title-left">
                <h3>
                    <span>图文消息(共2条)</span>
                </h3>
            </div>
            <div class="sub-title-right">
                <button type="button" class="btn btn-block btn-success">新建图文素材</button>
            </div>
        </div>
    </div>
    <div class="msgs-box">
        <div class="msgs-inner" id="partial">
            @Html.Partial("NewsListPartial", Model)
        </div>
    </div>
</div>

@section Scripts {
    @{Html.RegisterMvcPagerScriptResource();}
    <script type="text/javascript" src="../../../../Scripts/jquery.unobtrusive-ajax.js"></script>
}

