<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>微信公众平台</title>
    <link href="../../plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../../plugins/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/fix.css" rel="stylesheet" />
    <link href="../../css/layout.css" rel="stylesheet" />
    @RenderSection("css", false)
</head>
<body>
    <div class="wrapper">

        <div class="head">
            <div class="hd-inner">

            </div>
        </div>

        <div class="body">
            <div class="bd-inner">
                <!-- 左边 -->
                <div class="col-left">
                    <div class="menu-box">
                        <dl class="menu-list">
                            <dt class="menu-item menu-title">
                                <a href="javascript:;">
                                    <i style="background:url(https://res.wx.qq.com/mpres/htmledition/images/icon/menu/icon_menu_function.png) no-repeat;"></i>
                                    <span>功能</span>
                                </a>
                            </dt>
                            <dd class="menu-item">
                                <a href="#">
                                    <i></i>
                                    <span>卡券功能</span>
                                </a>
                                <a href="#">
                                    <i></i>
                                    <span>门店管理</span>
                                </a>
                            </dd>
                        </dl>
                        <dl class="menu-list">
                            <dt class="menu-item menu-title">
                                <a href="javascript:;">
                                    <i style="background:url(https://res.wx.qq.com/mpres/htmledition/images/icon/menu/icon_menu_management.png) no-repeat;"></i>
                                    <span>管理</span>
                                </a>
                            </dt>
                            <dd class="menu-item">
                                <a href="/app/material/newslist">
                                    <i></i>
                                    <span>素材管理</span>
                                </a>
                            </dd>
                        </dl>
                        <dl class="menu-list">
                            <dt class="menu-item menu-title">
                                <a href="javascript:;">
                                    <i style="background:url(https://res.wx.qq.com/mpres/htmledition/images/icon/menu/icon_menu_management.png) no-repeat;"></i>
                                    <span>用户</span>
                                </a>
                            </dt>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                            <dd class="menu-item">
                                <a href="/user/list">
                                    <i></i>
                                    <span>用户管理</span>
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>

                <!-- 右边 -->
                <div class="col-main">
                    @RenderBody()
                </div>
            </div>

            <!-- 定位提示 -->
        </div>

        <div class="foot"></div>
    </div>

    <script src="../../plugins/jquery-2.2.4/jquery.js"></script>
    <script src="../../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
    @RenderSection("js", false)
</body>
</html>