<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="renderer" content="webkit" />
    <title>微信公众平台</title>
    <link href="../../plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" />
    @RenderSection("css", false)
</head>
<body class="bg-white-smoke">
    <div class="bg-azure head">
        <div class="width-1200 bg-azure margin-horizontal-center clearfix">
            <div class="pull-left width-200 height-50 logo">

            </div>
            <div class="pull-right">
                <ul class="nav navbar-nav pull-left margin-0">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle color-white padding-vertical-15" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            管理员
                            <span class="caret"></span>
                            <span class="pull-right margin-top--10 margin-left-5"><img src="../../img/avatar.png" alt="" class="width-40 height-40 img-circle" /></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">修改密码</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="margin-top-15 body">
        <div class="width-1200 margin-horizontal-center clearfix">
            <div class="pull-left width-120 height-50 col-left">
                <div class="menu">
                    <dl class="margin-bottom-15">
                        <dt class="height-28 line-height-28 b">功能</dt>
                        <dd class="height-24 line-height-24"><a href="#">公众号管理</a></dd>
                        <dd class="height-24 line-height-24"><a href="#">卡券管理</a></dd>
                    </dl>
                </div>
            </div>

            <div class="pull-left width-1080 bg-white padding-horizontal-15 overflow-hide col-main">
                @*<div class="height-50 line-height-50 b margin-bottom-15">
                    素材管理
                </div>*@
                @*<div class="margin-bottom-15">
                    <ul class="border-bottom-gray clearfix">
                        <li class="pull-left padding-right-15"><a href="#" class="display-block border-bottom-azure-2">图文管理</a></li>
                        <li class="pull-left padding-right-15"><a href="#" class="display-block">图片管理</a></li>
                    </ul>
                </div>*@
                @*<div class="row margin-bottom-15 padding-vertical-15 border-gray">
                    <div class="col-xs-6 col-sm-6 col-md-8 border-right-gray clearfix">
                        <div class="pull-left"><img src="http://wx.qlogo.cn/mmopen/scAWiciaAIqhVtHQmXZmWBLUJSwE1O7SuCltQXjLK4PBHwjoQ5icrdXAv4qVFx8ibnatbPE55eSs1gCvCcQBx3V7RIN6XZlibEG4ia/0" alt="" class="width-80 height-80 img-circle" /></div>
                        <div class="pull-left margin-left-15">
                            <div class="padding-bottom-15 border-bottom-gray">
                                <strong class="font-size-18 b">九合天下测试号02</strong>
                                <span class="label label-default pointer">重新授权</span>
                                <span class="label label-default pointer">重新授权</span>
                            </div>
                            <div class="margin-top-15">
                                <span class="label label-info pointer">重新授权</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <div>
                            <p class="font-size-18 b">剩余 100 天</p>
                        </div>
                        <div class="progress margin-top-15">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                        <div class="margin-top-5">
                            <p>2018-03-14到期</p>
                        </div>
                    </div>
                </div>*@
                @*<div class="row margin-bottom-15 padding-vertical-15 border-gray">
                    <div class="col-xs-3 col-sm-3 width-200">
                        <div class="thumbnail bg-white-smoke padding-top-15 border-0">
                            <img src="http://wx.qlogo.cn/mmopen/Da1FO2YxhbTSpvwtiah0R7byqS9bhb1Iu43M6UaklKDrK8DaTqV2uicOzWgey7bxugBez4N6aLjtzqlicma7f59A429zTwgtvCM/0" alt="" class="width-80 height-80 img-circle" />
                            <div class="caption">
                                <div class="text-center border-bottom-gray">九合天下测试号02</div>
                                <div class="text-center margin-top-15"><a href="#" class="btn btn-info width-full" role="button">进入公众号平台</a></div>
                            </div>
                        </div>
                    </div>
                </div>*@
                @*<div class="row margin-bottom-15 padding-vertical-15 border-gray">
                    <div class="col-xs-3 col-sm-3 width-200">
                        <div class="thumbnail bg-white-smoke padding-top-15 border-0">
                            <img src="../../img/avatar.png" alt="" class="width-80 height-80 img-circle" />
                            <div class="caption">
                                <div class="text-center border-bottom-gray">九合天下测试号02</div>
                                <div class="text-center margin-top-15"><a href="/home/goauth" class="btn btn-info width-full" role="button">去授权</a></div>
                            </div>
                        </div>
                    </div>
                </div>*@
                
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="../../plugins/jquery/jquery.js"></script>
    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>
    @RenderSection("js", false)
</body>
</html>